<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">

    <title>Login Page</title>
</head>
<body>
    <div class="Container1">
        <form class="content" action="/home">
            <h1>Student/Faculty Login</h1>
            <div class="name-field">
            <label for="uname">Name:</label>
            <input type="text" placeholder="Enter Name"/><br/>
            </div>
            <div class="roll-field">
            <label for="uname">Roll No.:</label>
            <input type="text" placeholder="Enter Roll No." />
            </div>
            <button type="submit" class="submit-button" >Login</button>
        </form>
    </div>

    </script>
</body>
</html>